/* Reset
oooooooooooooooooooooooooooooooooooooooooooooooooo */
* {
	margin: 0;
	padding: 0;
	border: 0;
}
*::-moz-focus-inner {
	border: none; /* remove FF's dotted border when interacting with clickable items */
}

/* Font
oooooooooooooooooooooooooooooooooooooooooooooooooo */
/*@font-face {
    font-family: 'Whitehall';
    src: url('../fonts/whitehall.eot');
    src: url('../fonts/whitehall.eot?#iefix') format('embedded-opentype'),
         url('../fonts/whitehall.ttf') format('truetype');
}*/


/* General
oooooooooooooooooooooooooooooooooooooooooooooooooo */
HTML {
	/*height: 100%;*/
}

HTML , BODY {
	/*min-height: 100%;*/
}

BODY {
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
	/*/// Workaround for Mobile Chrome Bug caused by auto "font boosting." https://bugs.webkit.org/show_bug.cgi?id=84186 \\\*/
	max-height: 999999px;
	background-color: black;
	color: white;
}

#gameOver {
	/*background-color: blue;*/
	position: fixed;
	width: 100%;
	height: 100%;
	background: url(../Content/images/game_over.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-image: url("../Content/images/game_over.jpg");
	
}

#target {
	/*background-color: blue;*/
	position: fixed;
	width: 100%;
	height: 100%;
	background: url(../Content/images/target_archery.svg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#target.part1 {
	background-image: url("../Content/images/chain.jpg");
}

#target.part1.selected {
	background-image: url("../Content/images/chain_broken.jpg");
}

#target.part2 {
	background-image: url("../Content/images/asteroid.jpg");
}

.hidden {
	background-color: transparent;
	-webkit-transition: background-color .5s ease;
	transition: background-color .5s ease;
}

#target.selected {
	/*filter: hue-rotate(90deg);
	-webkit-filter: hue-rotate(90deg);*/
	/*background-color: rgba(20,20,100,0.5);*/
	/*border: 10px solid green;*/
	/*-webkit-transition : -webkit-filter 0.2s linear;
	filter: blur(18px);
 	-webkit-filter: blur(18px);*/
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(54,156,48,0);
}

.target.selected .overlay {
    background-color: rgba(54,156,48,0.9);
}


/* Development
oooooooooooooooooooooooooooooooooooooooooooooooooo */
.red_border {
	border: 1px solid #F00;
}

/* Media Queries
oooooooooooooooooooooooooooooooooooooooooooooooooo */
@media screen and (max-width:1024px) {
	
}

@media screen and (max-width:768px) {

}

@media screen and (max-width:600px) {

}

@media screen and (max-width:400px) {

}
